.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #000;
  /* Very dark background */
  overflow: hidden;
}

.heroimage {

  height: 100%;
  width: 100%;
  background: radial-gradient(circle at 50% 50%, #1a0b2e 0%, #000000 100%);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  position: relative;
}

.cursedGlowRed {
  box-shadow: 0 0 20px 5px rgba(226, 43, 43, 0.6),
    0 0 40px 10px rgba(130, 0, 0, 0.4);
  animation: pulseGlowRed 3s infinite alternate;
}

@keyframes pulseGlowRed {
  0% {
    box-shadow: 0 0 20px 5px rgba(226, 43, 43, 0.6),
      0 0 40px 10px rgba(130, 0, 0, 0.4);
  }

  100% {
    box-shadow: 0 0 30px 10px rgba(247, 85, 85, 0.8),
      0 0 60px 20px rgba(226, 43, 43, 0.6);
  }
}


.cursedGlowPurple {
  box-shadow: 0 0 20px 5px rgba(138, 43, 226, 0.6),
    0 0 40px 10px rgba(75, 0, 130, 0.4);
  animation: pulseGlowPurple 3s infinite alternate;
}

@keyframes pulseGlowPurple {
  0% {
    box-shadow: 0 0 20px 5px rgba(138, 43, 226, 0.6),
      0 0 40px 10px rgba(75, 0, 130, 0.4);
  }

  100% {
    box-shadow: 0 0 30px 10px rgba(186, 85, 211, 0.8),
      0 0 60px 20px rgba(138, 43, 226, 0.6);
  }
}

.socialIcon {
  color: white;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: inline-block;
}

.socialIcon:hover {
  color: #e9d5ff;
  /* purple-200 */
  transform: scale(1.2);
  text-shadow: 0 0 15px rgba(168, 85, 247, 0.8),
    /* purple-400 */
    0 0 30px rgba(147, 51, 234, 0.6),
    /* purple-600 */
    0 0 45px rgba(126, 34, 206, 0.4);
  /* purple-700 */
  animation: flicker 0.1s infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 0.8;
    transform: scale(1.2) rotate(-2deg);
  }

  100% {
    opacity: 1;
    transform: scale(1.2) rotate(2deg);
  }
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.25;
  /* Low opacity to ensure text readability against the dark background */
  filter: contrast(1.2) saturate(1.2);
  /* Enhance the anime look */
}